<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    
	<!--<key>41.373</key>
	<string>Redwood National Park, (41.373,-124.015)</string>
    
    <key>41.282</key>
    <string>Six rivers National Forest (41.282,-123.561)</string>
    
    <key>40.800</key>
    <string>Trinity National Forest (40.800,-123.390)</string>
    
    <key>40.950</key>
    <string>Shasta National Forest (40.950,-122.437)</string>
    
    <key>39.3675</key>
    <string>Jackson State Forest (39.3675,-123.65)</string>
    
    <key>38.8499</key>
    <string>Near Cloverdale (38.8499,-123.0204)</string>
    
    <key>39.322</key>
    <string>Potter Valley (39.322,-123.112)</string>
    
    <key>38.996</key>
    <string>Near Clearlake (38.996,-122.6029)</string>
    
    <key>36.27</key>
    <string>Ventana Wilderness of the Los Padres National Forest, Greenfield (36.27,-121.38)</string> -->
    
    <key>36.2330</key>
    <string>Los Gatos Creek County Park (36.2330,-120.5834)</string>
    
    <key>35.8847</key>
    <string>San Antonio Reservoir and Recreation Area (35.8847,-120.9926)</string>
    
    <key>35.7915</key>
    <string>Camp Roberts (35.7915,-120.7807)</string>
    
    <key>36.2875</key>
    <string>Andrew Molera State Park (36.2875,-121.8508)</string>
    
    <key>36.5</key>
    <string>Pinnacles National Monument (36.5,-121.17)</string>
    
	
</dict>
</plist>
